/***********/
/* FUENTES */
/***********/
/* Importamos la fuente externa por url */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
/* Cargamos una fuente externa de forma local */
@font-face {
  font-family: "Roboto"; /* nombre de la fuente */
  src: url(../fuentes/Roboto-Regular.ttf); /* Ubicación del archivo */
  font-weight: normal; /* Peso de la fuente */
  font-style: normal; /* Estilo de la fuente */
}
/***********************/
/* CUERPO DE LA PÁGINA */
/***********************/
body {
  margin: 0; /* Sin márgenes */
  padding: 0; /* Sin relleno */
  display: grid; /* Definimos este contendor grid */
  grid-template-rows: repeat(
    4,
    auto
  ); /* Dividimos el cuerpo página en 4 filas con tamaño automático */
  grid-template-areas: "cabecera_navegacion" "migas" "zona_contenido" "pie_pagina"; /* Nombre de cada fila */
  font-family: "Roboto", Arial, sans-serif; /* Seleccionamos la fuente externa cargada de forma local y dos fuentes alternativas */
}
/*************************/
/* CABECERA Y NAVEGACIÓN */
/*************************/
.cabecera_navegacion {
  grid-area: cabecera_navegacion; /* Fila de la cuadrícula del cuerpo (body) */
  display: grid; /* Definimos este contendor grid */
  grid-template-rows: repeat(
    2,
    auto
  ); /* Dividimos la cabecera y navegación en 2 filas con tamaño automático */
  grid-template-areas: "cabecera" "zona_navegacion"; /* Nombre de las filas */
  position: fixed; /* Fijamos la cabecera y la navegación */
  width: 100%; /* Damos todo el ancho */
  z-index: 99999; /* Posición para asegurar que esté al frente */
  background: white; /* Color de fondo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Línea sombreada */
}
/************/
/* CABECERA */
/************/
.cabecera {
  grid-area: cabecera; /* Fila de la cuadrícula de la cabecera y navegación */
  display: grid; /* Definimos este contendor grid */
  grid-template-columns: 2fr 1fr 2fr; /* Dividimos la cabecera en 3 columnas con tamaño automático */
  grid-template-areas: "cabecera-sub1 cabecera-sub2 cabecera-sub3"; /* Nombre de cada columna */
  grid-gap: 5px; /* Separación entre las áreas */
  align-items: center; /* Alineamos los elementos secundarios verticalmente en el contenedor */
}
/* Cabecera - Subzona 1 */
.cabecera-sub1 {
  font-family: "Ubuntu"; /* Nombre de la fuente */
  grid-area: cabecera-sub1; /* Columna de la cuadrícula de la cabecera */
  color: #3a5984; /* Color del texto */
  font-size: 70%; /* Tamaño de la fuente (pensando en pantallas pequeñas) */
  text-align: center; /* Alinea el texto centrado */
}
/* Cabecera - Subzona 2 */
.cabecera-sub2 {
  grid-area: cabecera-sub2; /* Columna de la cuadrícula de la cabecera */
  display: flex; /* Definimos este contendor flexible */
  justify-content: center; /* Alinea el logo horizontalmente */
}
.cabecera-sub2 img {
  width: 40px; /* Ancho en píxeles */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción original */
  max-width: 70%; /* Ancho máximo de la imagen en el 70% del ancho del contenedor */
}
/* Cabecera - Subzona 3 */
.cabecera-sub3 {
  grid-area: cabecera-sub3; /* Columna de la cuadrícula de la cabecera */
  display: flex; /* Definimos este contendor flexible */
  justify-content: center; /* Alinea los elementos secundarios horizontalmente */
}
.cabecera-sub3 img {
  display: none; /* Oculta el elemento en la página */
  margin: 0 15px 0 0; /* Margen derecho */
  width: 40px; /* Ancho en píxeles */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción original */
}
.cabecera-sub3 button {
  font-family: "Ubuntu", sans-serif; /* Fuente utilizada en los botones */
  margin: 0 2px; /* Márgenes: izquierdo y derecho */
  color: #ff6b6b; /* Color del texto */
  font-size: 11px; /* Tamaño de la fuente (pensando en pantallas pequeñas) */
  background-color: #3a5984; /* Color del fondo del botón */
  padding: 5px; /* Relleno en todos los lados */
}
.cabecera-sub3 button:hover {
  background-color: #ff6b6b; /* Color del fondo del botón al pasar el ratón */
  color: #3a5984; /* Color del texto al pasar el ratón */
}
/********************************************************/
/* HAMBURGUESA (solo en dispositivos de menos de 620px) */
/********************************************************/
#menu {
  display: none; /* Ocultamos el checkbox */
}
.hamburguesa {
  font-size: 28px; /* Tamaño del icono de hamburguesa*/
  position: fixed; /* Lo fijamos */
  margin-top: 70px; /* Aplicamos un margen superior para no apliarse con la cabecera */
  margin-left: 90%; /* Definimos un margen de porcentaje para asegurar que sea responsive */
  cursor: pointer; /* Indicamos que el icono puede ser clicado */
  color: #3a5984; /* Color del icono */
  background-color: #ffffff; /* Aplicamos un color de fondo */
  padding: 0 2px; /* Damos un relleno izquierdo y derecho */
  border: 3px solid #3a5984; /* Definimos un borde para auemtar su visibilidad */
  border-radius: 10%; /* Redondeamos las esquinas del borde */
}
#menu:checked + .zona_navegacion {
  display: initial; /* Muestra el menú cuando el input de hamburguesa está marcado */
}
/**********************/
/* ZONA DE NAVEGACIÓN */
/**********************/
.zona_navegacion {
  grid-area: zona_navegacion; /* Fila de la cuadrícula de la cabecera y navegación */
  display: none; /* Ocultamos por defecto en dispositivos móviles */
}
/* Menú principal */
.zona_navegacion ul {
  list-style: none; /* Quitamos los estilos de numeración/viñetas de la lista */
  padding: 2px; /* Relleno */
  display: flex; /* Definimos este contendor flexible */
  justify-content: center; /* Alinea los elementos secundarios horizontalmente */
  align-items: center; /* Alinea los elementos secundarios verticalmente en el contenedor */
  flex-wrap: wrap; /* Los elementos se envuenven en la siguiente línea si no hay espacio horizontal en el contenedor */
}
.zona_navegacion li {
  margin: 5px 0; /* Márgenes: arriba y abajo */
  text-align: center; /* Alinea el texto centrado */
  flex: 1 0 100%; /* El elemento dispone horizontalmente de todo el espacio disponible horizontalmente sin permitir que se contraiga */
}
.zona_navegacion li a {
  text-decoration: none; /* Elimina la decoración de un enlace */
  font-size: 16px; /* Tamaño de la fuente (pensando en pantallas pequeñas) */
  color: #3a5984; /* Color del texto */
  display: block; /* Cambia el enlace de línea a bloque */
  padding: 10px; /* Relleno */
}
.zona_navegacion li a:hover,
.zona_navegacion li a:focus-within {
  color: #ff6b6b; /* Color del texto al pasar por encima o después de clicar en él*/
}
.zona_navegacion ul li:focus-within ul {
  display: flex; /* Muestra el submenú al hacer clic en "Desarrollo Software"*/
  flex-direction: column; /* Alinea los elementos verticalmente en dispositivos móviles*/
}
/* Menú secundario */
.zona_navegacion ul ul {
  display: none; /* Oculta el submenú por defecto*/
  min-width: 100%; /* Ancho completo del submenú en dispositivos móviles */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra del submenú */
  color: #3a5984; /* Color del texto */
  background: rgb(246, 246, 248); /* Color de fondo */
}
/****************/
/* MIGAS DE PAN */
/****************/
.migas {
  grid-area: migas; /* Fila de la cuadrícula del cuerpo (body) */
  margin-top: 60px; /* Margen superior para pantallas pequeñas al haber fijado la cabecera (el menú de navegación está oculto) */
  display: grid; /* Contendor grid */
  grid-template-rows: repeat(
    2,
    auto
  ); /* Dividimos la sección de migas de pan en 2 filas con tamaño automático */
  padding-left: 30px; /* Relleno izquierdo en pantallas pequeñas */
  padding: 10px 30px; /* Relleno superior e inferior */
  color: #3a5984; /* Color del texto */
  font-size: 14px; /* Tamaño de la fuente en pantallas pequeñas */
  background: #3a59842a; /* Color de fondo */
}
.migas span {
  color: #3a5984; /* Color del texto */
}
.migas ol {
  display: inline-flex; /* Contenedor flex en línea */
  padding: 0; /* Quitamos relleno */
}
.migas ol li {
  list-style: none; /* Quitamos los estilos de numeración/viñetas de la lista */
  margin-right: 10px; /* margen izquierdo */
}
.migas ol li a {
  color: rgb(39, 39, 39);
}
.migas ol li a:hover {
  color: #ff6b6b; /* Color del texto al pasar por encima */
}
#aqui {
  font-weight: bold; /* Negrita */
}
/*********************/
/* ZONA DE CONTENIDO */
/*********************/
.zona_contenido {
  grid-area: zona_contenido; /* Fila de la cuadrícula del cuerpo (body) */
  margin: 40px 20px; /* Márgenes: arriba y abajo, izquierdo y derecho */
  display: grid; /* Definimos este contendor grid */
  grid-template-rows: repeat(
    2,
    auto
  ); /* Dividimos la zona de contenido en 2 filas con tamaño automático */
}
/* Zona de contenido - Subzona 1 */
.zona_contenido-sub1 {
  grid-row: 1; /* Especifica la fila dónde se coloca el elemento */
  margin: 10px 0px; /* Márgenes: arriba y abajo */
}
.zona_contenido-sub1 h2 {
  color: #3a5984; /* Color del texto */
  text-align: center; /* Alinea el texto centrado */
}
.zona_contenido-sub1 h3 {
  text-align: center; /* Alinea el texto centrado */
}
.zona_contenido-sub1 .fila {
  display: flex; /* Definimos este contendor flexible */
  flex-wrap: wrap; /* Los elementos se envuenven en la siguiente línea si no hay espacio horizontal en el contenedor */
  justify-content: center; /* Se centran los elementos horizontalmente */
  width: 100%; /* Ancho al 100% del contenedor padre */
  margin-bottom: 20px; /* Margen abajo */
}
/* Zona de productos */
.zona-productos {
  flex: 2; /* Capacidad de crecer con respecto los demás elementos, esta zona será de mayor tamaño*/
  display: flex; /* Definimos este contendor flexible */
  flex-wrap: wrap; /* Los elementos se envuenven en la siguiente línea si no hay espacio horizontal en el contenedor */
  text-align: center; /* Alinea el texto centrado */
}
.fila-productos {
  display: flex; /* Definimos este contendor flexible */
  width: 100%; /* Ancho al 100% del contenedor padre */
  flex-wrap: wrap; /* Los elementos se envuenven en la siguiente línea si no hay espacio horizontal en el contenedor */
  justify-content: center; /* Alinea los elementos secundarios horizontalmente */
}
.tarjeta-producto {
  width: 40%; /* Ancho al 40% del contenedor padre */
  padding: 20px; /* Relleno en todos los lados */
  border: 2px solid #3a5984; /* Borde de la tarjeta */
  border-radius: 5%; /* Establece el radio de las esquinas del elemento */
  margin: 10px; /* Márgenes */
  background-color: rgba(
    181,
    172,
    172,
    0.8
  ); /* Color del fondo de la tarjeta */
  min-width: 250px; /* Ancho mínimo en píxeles */
}
#tarjeta4,
#tarjeta5,
#tarjeta6 {
  display: none; /* Oculta el elemento en la página */
}
.tarjeta-producto img {
  border-radius: 50%; /* Establece el radio de las esquinas del elemento */
  width: 3em; /* Ancho de las imagen en 5 veces el tamaño de la fuente del elemento padre */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción original */
}
.valoracion {
  font-size: 12px; /* Tamaño de la fuente (pensando en pantallas pequeñas) */
}
/* Promoción */
.promocion {
  flex: 1; /* Capacidad de crecer con respecto los demás elementos, esta zona crecera y se contraerá proporcionalmente al resto */
  align-items: center; /* Alinea los elementos secundarios verticalmente en el contenedor */
  display: flex; /* Definimos este contendor flexible */
  flex-direction: column; /* Los elementos hijos de este contenedor se dispondrán uno debajo del otro */
  text-align: center; /* Alinea el texto centrado */
  margin-top: 20px; /* Margen arriba */
  min-width: 250px; /* Ancho mínimo de la imagen en píxeles */
}
.promocion img {
  width: 50%; /* Ancho de la imagen al 50% del contenedor padre */
  max-width: 300px; /* Ancho máximo de la imagen en píxeles */
  margin: 20px; /* Márgenes */
}
.promocion p {
  text-align: justify; /* Alinea el texto justificado */
  margin: 50px; /* Márgenes */
}
/* Tabla de productos */
.tabla {
  display: none; /* Oculta el elemento en la página */
  flex: 1; /* Capacidad de crecer con respecto los demás elementos, esta zona crecera y se contraerá proporcionalmente al resto */
}
.tabla .fila-tabla {
  display: flex; /* Definimos este contendor flexible */
  align-items: center; /* Alinea los elementos secundarios verticalmente en el contenedor */
}
.tabla .fila-tabla:nth-child(even) {
  background-color: rgba(
    181,
    172,
    172,
    0.8
  ); /* Color del fondo de la fila par*/
}
.tabla .fila-tabla:nth-child(odd) {
  background-color: #ffffff; /* Color del fondo de la fila impar */
}
.encabezado-tabla {
  font-weight: bold;
  background-color: rgba(
    181,
    172,
    172,
    0.8
  ); /* Color del fondo del encabezado */
}
.celda {
  flex: 1; /* Capacidad de crecer con respecto los demás elementos, esta zona crecera y se contraerá proporcionalmente al resto */
  padding: 8px; /* Relleno en todos los lados */
  text-align: center; /* Alinea el texto centrado */
}
.totales-tabla {
  font-size: 20px; /* Tamaño de letra */
  color: #3a5984; /* Color de letra */
}
/* Empresas */
.empresas {
  display: none; /* Oculta el elemento en la página */
  flex: 1; /* Capacidad de crecer con respecto los demás elementos, esta zona crecera y se contraerá proporcionalmente al resto */
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Dividimos la zona de empresas en 2 columnas con tamaño de una fracción */
  grid-template-rows: repeat(
    2,
    1fr
  ); /* Dividimos la zona de empresas en 2 filas con tamaño de una fracción */
}
.tarjeta-empresa {
  display: flex; /* Definimos este contendor flexible */
  flex-wrap: wrap; /* Los elementos se envuenven en la siguiente línea si no hay espacio horizontal en el contenedor */
  min-width: 230px; /* Ancho mínimo de la imagen en píxeles */
  flex-direction: column; /* Los elementos hijos de este contenedor se dispondrán uno debajo del otro */
  border: 1px solid rgba(181, 172, 172, 0.8); /* Borde de la tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombreado de la tarjeta */
  border-radius: 8px; /* Establece el radio de las esquinas del elemento */
  margin: 10px; /* Márgenes */
  padding: 20px; /* Relleno en todos los lados */
  transition: all 0.3s ease; /* Aplica una transición suave a las propiedades que cambien */
  align-items: center; /* Alinea los elementos secundarios verticalmente en el contenedor */
  text-align: center; /* Alinea el texto centrado */
  position: relative; /* Establece la posición del elemento como relativa para posicionar elementos secundarios absolutos dentro de este contenedor */
}
.empresa {
  display: flex; /* Definimos este contendor flexible */
  flex-direction: column; /* Los elementos hijos de este contenedor se dispondrán uno debajo del otro */
  align-items: center; /* Alinea los elementos secundarios verticalmente en el contenedor */
}
.empresa img {
  width: 70px; /* Ancho en píxeles */
  height: 70px; /* Alto en píxeles */
  filter: grayscale(
    100%
  ); /* Aplica un filtro a la imagen en escala de grises */
  transition: filter 0.3s ease; /* Trancisión del filtro */
}
.anio-utilizacion {
  display: none; /* Oculta el elemento en la página */
  bottom: 0; /* La parte inferior del elemento estará alineada con la parte inferior del contenedor */
  background: rgba(181, 172, 172, 0.8); /* Fondo */
  width: 90%; /* Ancho al 100% del contenedor padre */
  text-align: center; /* Alinea el texto centrado */
  padding: 5px; /* Relleno en todos los lados */
}
.empresa:hover img {
  filter: none; /* Desactiva el filtro de escala de grises al pasar por encima*/
}
.empresa:hover ~ .anio-utilizacion {
  display: inline; /* Muestra el año de utilización al pasar por encima*/
  position: absolute; /* Posición absoluta */
  margin: 10px; /* Márgenes */
}
.producto-utilizado img {
  width: 30px; /* Ancho en píxeles */
  height: 30px; /* Alto en píxeles */
  border-radius: 10%; /* Establece el radio de las esquinas del elemento */
}
/* Zona de contenido - Subzona 2 */
.zona_contenido-sub2 {
  margin: 10px 0px; /* Márgenes: arriba y abajo */
  grid-row: 2; /* Especifica la fila dónde se coloca el elemento */
}
.zona_contenido-sub2 h2 {
  color: #3a5984; /* Color del texto */
  text-align: center; /* Alinea el texto centrado */
}
article h2 {
  text-transform: lowercase; /* El texto se transforma en minúsculas */
}
.noticia {
  display: inline; /* Elementos en línea */
}

/*****************/
/* PIE DE PÁGINA */
/*****************/
.pie_pagina {
  grid-area: pie_pagina; /* Fila de la cuadrícula del cuerpo (body) */
  display: flex; /* Definimos este contendor flexible */
  justify-content: space-between; /* Distribuye el espacio disponible entre los elementos */
  align-items: center; /* Alinea los elementos secundarios verticalmente en el contenedor */
  font-family: "Ubuntu";
}
.enlaces {
  display: flex; /* Definimos este contendor flexible */
  border: 3px solid rgba(181, 172, 172, 0.8); /* Borde del contenedor */
  width: 100%; /* Ancho al 100% del contenedor padre */
  height: 100px; /* Alto en píxeles */
  padding: 10px; /* Relleno en todos los lados */
  background-color: #3a5984; /* Color del fondo */
  align-items: center; /* Alinea los elementos secundarios verticalmente en el contenedor */
}
.cookies,
.redes-sociales {
  display: none; /* Oculta el elemento en la página */
}
.enlaces ul {
  list-style-type: none; /*Quita los marcadores o numeración de la lista */
}
.enlaces ul li a {
  text-decoration: none;
  color: black;
}
.enlaces li:active {
  text-decoration: underline; /* Aplica subrayado al texto */
}
/*---------------------------------------------------*/
/* ESTILOS PARA PANTALLAS MÁS GRANDES (MÁS DE 620PX) */
/*---------------------------------------------------*/
@media screen and (min-width: 620px) {
  /************/
  /* CABECERA */
  /************/
  /* Cabecera - Subzona 1 */
  .cabecera-sub1 {
    font-size: 100%; /* Tamaño de la fuente pantallas más grandes*/
    letter-spacing: 3px; /* Espacio entre las letras del nombre se la empresa */
  }
  /* Cabecera - Subzona 2 */
  .cabecera-sub2 img {
    width: 60px; /* Mostramos el logo más grande */
  }
  /* Cabecera - Subzona 3 */
  .cabecera-sub3 img {
    display: flex; /* Definimos este contendor flexible para mostrar la imagen */
  }
  .cabecera-sub3 button {
    margin: 0 10px; /* Márgenes: izquierdo y derecho */
    font-size: 16px; /* Tamaño de la fuente pantallas más grandes*/
  }
  /***************/
  /* HAMBURGUESA */
  /***************/
  .hamburguesa {
    display: none; /* Ocultamos el menú de hamburguesa en pantallas más grandes */
  }
  /**********************/
  /* ZONA DE NAVEGACIÓN */
  /**********************/
  .zona_navegacion {
    display: initial; /* Mostramos el menú por defecto en pantallas grandes */
  }
  .zona_navegacion li {
    flex: auto; /* Tomará automáticamente el tamaño disponible */
  }
  .zona_navegacion li a {
    margin-top: 5px; /* Damos más margen arriba */
    font-size: 20px; /* Tamaño de la fuente (pensando en pantallas grandes) */
  }
  .zona_navegacion ul li:focus-within ul,
  .zona_navegacion ul li:hover ul {
    display: flex; /* Muestra el submenú al pasar por encima o hacer clic en "Desarrollo Software" */
    flex-direction: row; /* Alinea los elementos horizontalmente en pantallas grandes */
    position: fixed; /* Fijamos el submenú */
  }
  .zona_navegacion ul ul {
    min-width: 400px; /* Ancho mínimo del submenú */
    margin-left: 20px; /* Margen izquierdo */
  }
  /****************/
  /* MIGAS DE PAN */
  /****************/
  .migas {
    margin-top: 180px; /* Margen superior teniendo en cuenta la cabecera y zona de navegación fijadas */
    padding-left: 40px; /* Relleno izquierdo */
    font-size: 16px; /* Tamaño de texto */
    display: inline-flex; /* Definimos un flex en línea */
    align-items: center; /* Centramos verticalmente los elementos */
  }
  .migas ol {
    margin-left: 10px; /*Margen izquierdo de la lista con respecto al texto span */
  }
  /*********************/
  /* ZONA DE CONTENIDO */
  /*********************/
  /* Zona de contenido - Subzona 1 */
  /* Zona de productos */
  #tarjeta4,
  #tarjeta5,
  #tarjeta6 {
    display: inline; /* Muestra las tarjetas */
  }
  /* Promoción */
  .promocion img {
    width: 20%; /* Ancho al 20% del contenedor padre */
    max-width: none; /* No se aplica ancho máximo en la imagen */
  }
  /* Tabla de productos */
  .tabla {
    display: inline; /* Muestra la tabla */
  }
  /* Empresas */
  .empresas {
    display: grid; /* Definimos este contendor grid y muestra las empresas */
  }
  /* Zona de contenido - Subzona 2 */
  .zona_contenido-sub2 article h2 {
    text-transform: none; /* Anula la transformación en minúsculas */
  }
  .noticia {
    display: flex; /* Definimos este contendor flexible */
  }
  .noticia p:first-letter {
    font-size: 150%; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
  }
  .columna-1 {
    flex: 1; /* Capacidad de crecer con respecto los demás elementos, esta zona crecera y se contraerá proporcionalmente al resto */
    padding-right: 10px; /* Relleno izquierdo */
    position: relative; /* posición relativa */
  }
  .columna-1::after {
    content: ""; /* Se inserta una cadena vacía */
    position: absolute; /* Psición absoluta */
    top: 0; /* Coloca el pseudoelemento en la esquina superior */
    right: 0; /* Coloca el pseudoelemento en la esquina derecha */
    height: 100%; /* Alto al 100% de la altura de su contenedor padre */
    width: 2px; /* Ancho en píxeles */
    background-color: rgba(181, 172, 172, 0.8); /* Color del fondo */
  }
  .columna-2 {
    flex: 1; /* Capacidad de crecer con respecto los demás elementos, esta zona crecera y se contraerá proporcionalmente al resto */
    padding-left: 10px; /* Relleno derecho */
  }

  /****************/
  /*PIE DE PÁGINA */
  /****************/
  .cookies,
  .enlaces,
  .redes-sociales {
    display: flex; /* Definimos este contendor flexible */
    border: 2px solid rgba(181, 172, 172, 0.8); /* Borde del contenedor */
    width: 34%; /* Ancho al 34% del contenedor padre */
    height: 100px; /* Alto en píxeles */
    padding: 10px; /* Relleno en todos los lados */
    background-color: #3a5984; /* Color del fondo */
    align-items: center; /* Alinea los elementos secundarios verticalmente en el contenedor */
  }
  .redes-sociales {
    justify-content: flex-end; /* Posicionamos al final del contenedor: derecha */
  }
  .cookies label {
    display: block; /* Se muestran los elementos como bloques */
  }
  .cookies label:hover {
    color: rgba(181, 172, 172, 0.8); /* Color de las letras */
  }
  .enlaces ul {
    list-style-type: square; /* Viñetas */
  }
  /* Acción al pasar por el elemento */
  .enlaces li:hover {
    color: #ff6b6b; /* Color del texto */
  }
  .redes-sociales img {
    width: 40px; /* Ancho en píxeles */
    height: 40px; /* Alto en píxeles */
    padding: 10px; /* Relleno */
    background-color: rgba(181, 172, 172, 0.8); /* Color de fondo */
    margin: 20px; /* Márgenes */
    border-radius: 20%; /* Bordes redondeados */
  }
  /* Acción al pasar sobre el elemento */
  .redes-sociales img:hover {
    background-color: #ff6b6b; /* Color del fondo */
    border: 3px solid rgba(181, 172, 172, 0.8); /* Borde del contenedor */
  }
}
